:root{
    --color-background:#8e44ad;
    --color-text:#fff;
    --color-button:#009879;
    --color-black:black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e9e9e9;
}
.header{
    width: 100%;
    height: 100px;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 30px;

}

.header .container-menu{
    width: 100%;
    display: flex;
    align-items: center;
    
 
}
.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px;
  }
  .menu-item:not(:first-child) {
    margin-left: 15px;
  }
  .menu-link {
    text-decoration: none;
    color: var(--color-text);
  }
  .menu-item.has-child {
    position: relative;
  }
  .menu-item.has-child:hover .menu-child {
    opacity: 1;
    visibility: visible;
  }
  .menu-child {
    --top-space: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.2s ease;
    list-style: none;
    transform: translateY(var(--top-space));
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    background-color: var(--color-background);
  }
  .menu-child:before {
    content: "";
    height: var(--top-space);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    transform: translateY(-100%);
  }
  .menu-child {
    border: 1px solid #eee;
    min-width: 250px;
  }
  .header .menu .menu-item{
      margin-left: 50px;
  }

  .menu-child-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    color: var(--color-text);
}
.search2 {
    width: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.05);
  }
  .search2 button {
    padding: 15px 30px;
    color: white;
    flex-shrink: 0;
    background-color: #009879;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .search2 input {
    width: 100%;
  
    padding: 15px;
    background-color: white;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: none;
    line-height: normal;
  }
  .account{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #009879;
      border-radius: 15px;
      padding: 10px 12px;
  }
  .account img{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-right: 10px;
      border: 2px solid white;
  }
  .account .account-profile .name-account{
      font-size: 13px;
      color: var(--color-text);
      text-decoration: none;
  }
  .account .account-profile p{
      font-size: 11px;
     text-align: center;
     color: white;
     font-weight: 300;
  }
  .account .account-profile{
      margin-right: 10px;
  }
  .account  ion-icon{
      color: #fff;
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button {
    cursor: pointer;
  }
  
          .bell-noti {
            font-size: 5rem;
            color: #ccc;
            position: relative;
            display: inline-block;
          }
          .bell-noti-icon:hover {
            animation: ring 0.25s forwards alternate infinite linear;
          }
          .bell-noti-status {
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            background-color: var(--secondary);
            position: absolute;
            right: 0;
            top: 0;
          }
          @keyframes ring {
            from {
              transform: rotate(-10deg);
            }
            to {
              transform: rotate(10deg);
            }
          }

          /* ---------- */
          .news{
            padding: 10px 20px;
            border-radius: 15px;
            background-color: #009879;
            margin-bottom: 30px;
            color: white;
         
          }
          .main{
            width: 90%;
            height: auto;
            margin: 30px auto;
            background-color:#fff;
            border-radius: 15px;
            padding: 20px 40px;
        }
        .main .content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .main .content .job-tab .content-description h4{
            margin-top: 10px;
        
        }
        .main .content .job-tab .content-description h4 a{
       cursor: pointer;
       color: var(--color-black);
          
      }
        .main .content .job-tab{
            display: flex;
            flex-direction: column;
            background-color: #ecf0f1;
            padding: 10px 10px;
            width: 250px;
            border-radius: 15px;
            align-items: center;
            
            margin-bottom: 30px;
        }
        .main .content .job-tab .logo-company{
        
            border-radius: 15px;
            cursor: pointer;
        
        }
        .main .content .job-tab .img-descripton{
            width: 250px;
            border-radius: 15px;
            min-height: 250px;
            cursor: pointer;
         
            
            
        }
        .main .content .job-tab .benefit{
            padding: 10px 15px;
        }
        .main .content .job-tab .benefit .more li{
            font-size: 13px;
        }
        .main .content .job-tab .content-description .viewer{
            margin-top: 10px;
            display: flex;
            align-items: center;
          
        }
        .main .content .job-tab .content-description .viewer p{
            font-size:10px ;
            margin-left: 5px;
        }
        footer{
          width: 100%;
          background-color: var(--color-background);
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          border-top: 1px solid #fff;
          padding: 20px 20px;
      
      }
      footer .footer-item h1 {
          color: white;
          font-size: 15px;
         
         
          
      }
      footer .footer-item ul li{
          list-style: none;
      }
      footer .footer-item ul li a {
          color: white;
          font-size: 12px;
          text-decoration: none;
         
         
          
      }